
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 11% 13%;
    --foreground: 0 0% 100%;
    --card: 225 11% 16%;
    --card-foreground: 0 0% 100%;
    --popover: 225 11% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 225 84% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 75%;
    --secondary-foreground: 225 11% 13%;
    --muted: 225 11% 20%;
    --muted-foreground: 0 0% 75%;
    --accent: 225 84% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 48% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 225 11% 25%;
    --input: 225 11% 25%;
    --ring: 225 84% 36%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
