@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 11% 13%; /* #1C1E23 */
    --foreground: 0 0% 100%;
    --card: 225 11% 16%;
    --card-foreground: 0 0% 100%;
    --popover: 225 11% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 225 84% 36%; /* #0F36AA Deep Blue */
    --primary-foreground: 0 0% 100%;
    --secondary: 225 11% 75%; /* Silverish text */
    --secondary-foreground: 225 11% 13%;
    --muted: 225 11% 20%;
    --muted-foreground: 225 11% 75%;
    --accent: 225 84% 36%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 48% 47%; /* #B23E3E Subtle Red */
    --destructive-foreground: 0 0% 100%;
    --border: 225 11% 25%;
    --input: 225 11% 25%;
    --ring: 225 84% 36%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
